section.uk-section.uk-section-muted(uk-scrollspy="cls: uk-animation-fade; repeat: true")
  .uk-container
    div.uk-width-1-1
      p.uk-text-secondary Vantagens
      div.uk-margin-bottom.uk-flex.uk-flex-center(class='uk-flex-left@m')
        hr.uk-text-primary(class="uk-text-center@s")
  .uk-container
    .uk-grid(uk-grid='')
      .uk-width-1-1.uk-light
        hr(style="width: 40px")
      .uk-width-1-1.uk-margin-remove(class='uk-width-1-2@s')
        img(src="src/img/sccap3.png", class="reserva2",alt="")
      .uk-width-1-1(class='uk-width-1-2@s')
        h2.uk-text-bold.uk-h1.uk-text-primary.uk-margin-medium-bottom.text-dark Uma ferramenta completa na palma da sua mão! 
        div
          - var benefits = [ {icon: "src/img/5.svg", id: 1, title:"Otimize seu tempo", text: "Escolha, antes ou durante as sessões, as melhores Perguntas Intrigantes."},  {icon: "src/img/6.svg", id: 2, title:"Entregue mais valor", text: "Pesquise Filmes e Livros por tema, Palavras-chave e sinopse."}, {icon: "src/img/1.svg", id: 3, title:"Personalize suas sessões", text: "Exercícios Personalizados de acordo com as alucinações que tiver no momento. "}]
          each item in benefits
            div.uk-position-relative.uk-grid-small.uk-margin-medium-bottom(uk-grid="")
              div(class="uk-width-4-5@m uk-width-1-1")
                h3.uk-text-bold.uk-text-primary.uk-margin-remove=item.title
                p.uk-margin-remove=item.text