footer.uk-section-primary
  .uk-container.uk-section
    .uk-grid(class='uk-child-width-auto uk-flex uk-flex-between' data-uk-grid='')
      div
        img.uk-margin-small-right(src='src/img/logo_2.svg')
      div
        h5.uk-text-light 
          | Ficou alguma dúvida? Será um prazer te atender.
          br
          | Nos envie um email para 
          a(href="") contato@drecruta.com.br 
      //- div
      //-   h4 Subscribe
  .uk-section.uk-section-xsmall(style='background-color: rgba(0,0,0,0.15)')
    .uk-container
      .uk-grid.uk-text-center(class='uk-child-width-1-2@s uk-text-left@s' data-uk-grid='')
        .uk-text-small
          a.uk-button(href='#')
            | ©2021 Dr. REcruta - Todos os direitos Reservados
        .uk-text-small.uk-text-muted.uk-text-center(class='uk-text-right@s')
          a.uk-button(href='#') Login
          span | 
          a.uk-button(href='#')
            |  Cadastre-se
