header(uk-scrollspy="cls: uk-animation-fade; repeat: true", uk-sticky="cls-active:  uk-background-default ; cls-inactive: uk-background-default ; top: 300")
  .uk-container
    nav.uk-navbar
      .uk-navbar-left
        a.uk-logo(href='/', class='uk-hidden@m')
          h3.uk-margin-remove.uk-text-normal
            span.uk-text-primary.uk-h4 .
            |sccap
        a.uk-logo(href='/', class='uk-visible@m')
          h3.uk-margin-remove.uk-text-normal
            span.uk-text-primary.uk-h4 .
            |sccap
      .uk-navbar-right
        .uk-navbar-item
          a.uk-button.uk-button-primary.uk-border-rounded(href='/') Crie uma conta