section.uk-section.uk-background-primary.margin-reserva-top#passos(uk-scrollspy="cls: uk-animation-fade; repeat: true")
  .uk-container
    div.uk-margin-large-bottom
      h3.uk-text-center.uk-light O que oferecemos
  .uk-container
    div.uk-child-width-1-1.uk-grid-arrow(class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid uk-height-match="target: > div > .uk-card")
      - var passos = [{icon: "src/img/icons/icone5.svg", id: 1, text: "Contabilidade Digital"}, {icon: "src/img/icons/icone11.svg", id: 2, text: "Solicitação de NF Online"}, {icon: "src/img/icons/icone7.svg", id: 3, text: "Suporte realizado por controladores"},{icon: "src/img/icons/icone9.svg", id: 4, text: "Todas obrigações fiscais e legais"}, {icon: "src/img/icons/icone8.svg", id: 5, text: "Emissão e cálculo de impostos e taxas"}, {icon: "src/img/icons/icone10.svg", id: 6, text: "Endereço Fiscal"}]
      each item in passos
        div 
          .uk-card.uk-border-rounded.uk-card-default.uk-card-body.uk-text-center(class="uk-display-block@s uk-display-flex@m")
            div
              span
                img.icone( src=item.icon alt='')
            p=item.text
    div.uk-flex.uk-flex-center.uk-flex-middle.uk-padding.uk-padding-remove-horizontal.uk-child-width-auto(class="uk-visible@m")
      div.uk-margin-right(class="uk-text-left@m")
        a.uk-button.uk-button-secondary.uk-button-large.uk-text-bold.uk-border-pill(href="")  Trocar de contador
      div.uk-margin-left(class="uk-text-left@m")
        a.uk-button.uk-button-secondary.uk-button-large.uk-text-bold.uk-border-pill(href="")  Abrir empresa grátis
    div(class='uk-hidden@m')
      div.uk-margin-bottom.uk-margin-top(class="uk-text-left@m")
        a.uk-button.uk-button-secondary.uk-button-large.uk-text-bold.uk-border-pill(href="")  Abrir empresa grátis
      div(class="uk-text-left@m")
        a.uk-button.uk-button-secondary.uk-button-large.uk-text-bold.uk-border-pill(href="")  Trocar contador