section.uk-section.uk-container(uk-slider='')
  .uk-container.uk-flex.uk-flex-between
    div
      p.uk-text-secondary Confira nossos parceiros
      div.uk-margin-bottom
        hr.uk-text-primary(class="uk-text-center@s")
    div
      a.uk-icon-button.uk-text-primary.uk-background-default.uk-box-shadow-small.uk-margin-small-right(href='#'  uk-slider-item='previous')
        span(uk-icon='icon: arrow-left; ratio: 1')
      a.uk-icon-button.uk-text-primary.uk-background-default.uk-box-shadow-small(href='#'  uk-slider-item='next')
        span(uk-icon='icon: arrow-right; ratio: 1')
  div.uk-position-relative.uk-visible-toggle.uk-light.uk-padding.uk-padding-remove-horizontal
    ul.uk-slider-items.uk-child-width-1-1.uk-text-center.partnes(class='uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-child-width-1-5@xl')
      li
        img(src='src/img/img13.png' alt='')
      li
        img(src='src/img/img14.png' alt='')
      li
        img(src='src/img/img11.png' alt='')
      li
        img(src='src/img/img12.png' alt='')
      li
        img(src='src/img/img13.png' alt='')
      li
        img(src='src/img/img14.png' alt='')
      li
        img(src='src/img/img11.png' alt='')
      li
        img(src='src/img/img12.png' alt='')
    
