section.uk-section.uk-section-medium.uk-background-default(uk-scrollspy="cls: uk-animation-fade; repeat: true")
  .uk-container
    .uk-grid.uk-flex.uk-flex-middle(uk-grid)
      div(class='uk-width-1-2@s' data-uk-scrollspy='cls: uk-animation-slide-right-medium; target: > *; delay: 150')
        h6.uk-text-primary.uk-margin-small-bottom.uk-scrollspy-inview.uk-animation-slide-right-medium(style='') Melhore a suas sessões
        h1.uk-margin-remove-top.uk-scrollspy-inview.uk-animation-slide-right-medium(style='') 
          |Entregue mais valor aos seus coachees, com mais assertividade ao resultado desejado. 
      div(class='uk-width-1-2@s' data-uk-scrollspy='cls: uk-animation-slide-right-medium; target: > *; delay: 150')
        img(src='src/img/sccap2.jpeg' alt='')
        //- p.uk-text-lead.subtitle-text.uk-scrollspy-inview.uk-animation-slide-right-medium(class='uk-visible@s' style='')
        //-   | Ambiente de confiança e desenvolvimento, profissional. Para coaching no alcance de sua mais Alta Performance. 
        //- a.uk-button.uk-button-primary.uk-border-rounded.uk-scrollspy-inview.uk-animation-fade(href='#' title='Learn More' data-uk-scrollspy-class='uk-animation-fade' style='') Saiba mais
