section.uk-section.uk-section-secondary(uk-scrollspy="cls: uk-animation-fade; repeat: true")
  .uk-container
    .uk-grid.uk-flex.uk-flex-middle.uk-flex-center(uk-grid)
      div 
        h2.uk-text-center Concentre-se no que realmente importa e tenha mais qualidade de vida.
      div 
        a.uk-button.uk-button-primary.uk-border-rounded.uk-scrollspy-inview.uk-animation-fade(href='#' title='Learn More' data-uk-scrollspy-class='uk-animation-fade') Cadastre-se
