section.uk-flex.uk-flex-between.uk-flex-middle.uk-background-cover.uk-grid-small.uk-grid.uk-margin-top(uk-grid='')
  .uk-width-1-1.uk-light(class="uk-visible@m")
    hr(style="width: 40px")
  .uk-width-1-1.uk-light(class='uk-width-1-2@m')
    h1.uk-text-bold.uk-heading-small Trabalhe nos melhores hospitais do Brasil
    p
      | Garanta sua vaga de trabalho usando apenas uma única ferramenta
    div.uk-flex.uk-padding.uk-padding-remove-horizontal.uk-child-width-1-1(class="uk-child-width-1-2@m" uk-grid)
      div.uk-margin-right 
        a.uk-button.uk-button-secondary.uk-border-pill(href="")  Cadastre-se
      div(class="uk-visible@m")
        a.uk-button.uk-link-text.uk-border-pill(href="")  
          span.uk-margin-right(uk-icon='icon: arrow-down; ratio: 1')
          | Veja como é simples
  .uk-width-1-1.uk-light(class='uk-width-1-2@m')
    img(src="src/img/img1.png", class="reserva",alt="")