section(uk-scrollspy="cls: uk-animation-fade; repeat: true", class="uk-section uk-section-small uk-background-muted")
  .uk-container
    section.uk-section.uk-section-large
      .uk-container.uk-container-small
        h1 Album example
        p.uk-text-large
          | This is a text that describes the album, its creator and something that you want to tell that is attractive.
        div(data-uk-margin='')
          .uk-button.uk-button-primary.uk-first-column
            | CALL TO ACTION
          a.uk-button.uk-button-default(href='#modal-center' data-uk-toggle='' aria-expanded='false') Open Modal
          a.uk-button.uk-button-default(href='#modal-media-vimeo' data-uk-toggle='' aria-expanded='false') Vimeo
