section.uk-flex.uk-flex-between.uk-flex-middle.uk-background-cover.uk-grid-small.uk-grid(uk-grid='', uk-scrollspy="cls: uk-animation-fade; repeat: true")
  .uk-width-1-1.uk-light(class="uk-visible@m")
    hr(style="width: 40px")
  .uk-width-1-1.uk-light(class='uk-width-1-2@m')
    h1.uk-text-bold.uk-heading-small Contabilidade médica de forma fácil, segura e totalmente online
    div.uk-flex.uk-flex-between.uk-flex-middle.uk-padding.uk-padding-remove-horizontal.uk-child-width-auto(class="uk-visible@m")
      div.uk-width-expand(class="uk-text-left@m")
        a.uk-button.uk-button-secondary.uk-button-large.uk-text-bold.uk-border-pill(href="")  Abrir empresa grátis
      div.uk-width-expand(class="uk-text-left@m")
        a.uk-button.uk-button-secondary.uk-button-large.uk-text-bold.uk-border-pill(href="")  Trocar contador
    div(class='uk-hidden@m')
      div.uk-width-expand.uk-margin-bottom(class="uk-text-left@m")
        a.uk-button.uk-button-secondary.uk-button-large.uk-text-bold.uk-border-pill(href="")  Abrir empresa grátis
      div.uk-width-expand(class="uk-text-left@m")
        a.uk-button.uk-button-secondary.uk-button-large.uk-text-bold.uk-border-pill(href="")  Trocar contador
    div.uk-padding-small.uk-padding-remove-horizontal.uk-margin-top
      h4.uk-margin-remove.texto-escuro 
        |Planos por apenas  
        br(class='uk-hidden@m')
        span R$ 349,90 
        | mensais
    div
      h4.uk-margin-remove Abertura de conta gratuita.
      div Pague apenas as taxas governamentais*
  .uk-width-1-1.uk-light(class='uk-width-1-2@m')
    img(src="src/img/img1.png", class="reserva",alt="")