section.uk-section.uk-section-muted(uk-scrollspy="cls: uk-animation-fade; repeat: true")
  .uk-container
    .uk-flex.uk-flex-between
      div.uk-width-1-1
        p.uk-text-secondary Depoimentos 
        div.uk-margin-bottom.uk-flex.uk-flex-center(class='uk-flex-left@m')
          hr.uk-text-primary(class="uk-text-center@s")
    div
      h3.uk-text-primary.uk-margin-remove Veja o que dizem sobre nós
  .uk-container
    .uk-slider(uk-slider='' center='1')
      .uk-position-relative
        .uk-slider-container
          ul.test.uk-slider-items.uk-padding
            - var passos = [{id: 1, img: "src/img/img7.png", name:"Maria Carla", text: "Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text of the printing and typesetting industry. Lorem Ipsum has been the industry´s standard dummy."}, {id: 2, img: "src/img/img8.png", name:"Rodrigo Maia", text: "Text of the printing and typesetting industry. Lorem Ipsum has been the industry´s  and typesetting industry. Lorem Ipsum has been the industry´s  and typesetting industry. Lorem Ipsum has been the industry´s standard dummy."}, {id: 3, img: "src/img/img9.png", name:"Jair Batista", text: "dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry´s standard dumm Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry´s standard dummy."}]
            each item in passos
              li.uk-card.uk-width-1-1.uk-flex.uk-flex-middle.uk-text-center(uk-height-match="target: > *")
                blockquote.uk-margin-remove.uk-padding-large.uk-padding-remove-vertical(cite="#")
                  h3.uk-position-left.block
                    img(src='src/img/aspas.svg' alt='')
                  p.uk-margin-large-top=item.text
                  h4.uk-bold.uk-margin-remove=item.name
                  footer.uk-text-primary Médico
        .uk-light(class='uk-hidden@xl')
          a.uk-position-center-left.uk-position-small.uk-icon.uk-slidenav-previous.uk-slidenav(href='#' uk-slidenav-previous='' uk-slider-item='previous')
          a.uk-position-center-right.uk-position-small.uk-icon.uk-slidenav-next.uk-slidenav(href='#' uk-slidenav-next='' uk-slider-item='next')
        div(class='uk-visible@xl')
          a.uk-position-center-left-out.uk-position-small.uk-icon.uk-slidenav-previous.uk-slidenav(href='#' uk-slidenav-previous='' uk-slider-item='previous')
          a.uk-position-center-right-out.uk-position-small.uk-icon.uk-slidenav-next.uk-slidenav(href='#' uk-slidenav-next='' uk-slider-item='next')