section.uk-section.uk-section-muted(uk-scrollspy="cls: uk-animation-fade; repeat: true")
  .uk-container
    .uk-grid(uk-grid='').uk-flex
      .uk-width-1-1.uk-flex.uk-flex-middle(class='uk-width-1-2@s')
        div
          h2.uk-text-bold.uk-h1.uk-text-primary.uk-margin-medium-bottom.text-dark O Dr. Finanças é a plataforma contábil que mais cresce entre os profissionais de saúde no Brasil.
          div.uk-margin-bottom
            p.uk-padding.uk-padding-remove-horizontal E o melhor, nossos planos descomplicam a sua vida e cabem no seu bolso.
            div(class="uk-width-4-5@m uk-width-1-1")
              h3.uk-text-bold.uk-text-primary.uk-margin-remove Descomplique!
              h3.uk-text-bold.uk-text-primary.uk-margin-remove Abra já sua conta no Dr. Finanças.
      .uk-width-1-1.uk-margin-remove(class='uk-width-1-2@s uk-flex-first@m')
        img(src="src/img/img10.png", class="reserva2",alt="")
          //- - var benefits = [{icon: "src/img/5.svg", id: 1, title:"Totalmente gratuito", text: "Sem qualquer custo, do cadastro à contratação."}, {icon: "src/img/6.svg", id: 2, title:"Processo de recrutamento digital", text: "Entrevistas e repositório de documentos 100% digitais."}, {icon: "src/img/1.svg", id: 3, title:"As vagas encontram você", text: "Preencha seu perfil uma vez e os recrutadores te encontram."}]
          //- each item in benefits
          //-   div.uk-position-relative.uk-grid-small.uk-margin-medium-bottom(uk-grid="")
          //-     div(class="uk-width-1-5@m uk-width-1-1")
          //-       span.uk-h2.uk-text-light.uk-icon-button.uk-background-secondary.uk-light.uk-padding-small.uk-margin-right
          //-         img.icone( src=item.icon alt='')
          //-     div(class="uk-width-4-5@m uk-width-1-1")
          //-       h3.uk-text-bold.uk-text-primary.uk-margin-remove=item.title
          //-       p.uk-margin-remove=item.text