html {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.55;
	-webkit-text-size-adjust: 100%;
	color: #535780;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
header {
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
::selection {
	background: $global-secondary-background;
	color: $global-muted-background;
	text-shadow: none;
}
.block img {
	width: 60px;
	margin-left: 30px;
	margin-top: 30px;
	filter: opacity(0.2);
}
.text-dark {
	font-size: 1.7rem;
	color: #250b4e !important;
}
.cadastre-m {
	padding: 0 16px;
	font-size: 14px;
	font-weight: bold;
	margin-left: 12px;
}
.login-m {
	padding: 0 16px;
}
.veja {
	font-size: 12px;
	font-weight: 500;
}
.uk-light {
	.uk-logo svg {
		fill: #fff;
	}
	.icone svg {
		fill: #46277a;
	}
	.uk-navbar-nav > li {
		margin-left: 15px;
		a {
			border: 1px solid #fff;
			color: #fff;
			min-height: 30px;
			text-transform: capitalize;
			line-height: 100%;
			padding: auto;
			border-radius: 20px;
		}
	}
}
.partnes img {
	width: auto;
	max-height: 51px;
	filter: grayscale(1);
}
.uk-dark {
	.uk-logo svg {
		fill: $global-primary-background;
	}
	.icone svg {
		fill: #fff;
	}
	.uk-navbar-nav > li {
		margin-left: 15px;
		a {
			border: 1px solid $global-primary-background;
			color: $global-primary-background;
			min-height: 30px;
			text-transform: capitalize;
			line-height: 100%;
			padding: auto;
			border-radius: 20px;
		}
	}
}
.reserva {
	margin-bottom: -200px !important;
}
hr.uk-text-primary {
	width: 40px;
	float: left;
	border-color: $global-secondary-background;
}

.uk-grid-arrow > :not(.uk-first-column)::before {
	content: "->";
	position: absolute;
	top: 50%;
	left: 0;
	font-size: 20px;
}
.uk-icon-button {
	width: 50px;
	height: 50px;
}
.uk-icon-button {
	color: #fff;
}
.uk-icon-button:hover,
.uk-icon-button:active {
	color: #fff;
	background-color: $global-secondary-background;
}
.uk-padding-xsmall {
	padding: 12px 12px 12px 15px;
	height: 50px;
	width: 50px;
	line-height: 100%;
}
blockquote {
	font-size: 1rem;
}
@media (max-width: 960px) {
	.margin-reserva-top {
		margin-top: 135px !important;
	}
}
