// 3. Your custom mixin overwrites.
@mixin hook-card() {
	color: #000;
}
@mixin hook-logo() {
	width: auto;
}
@mixin hook-button() {
	text-transform: none;
	padding: 0 24px 0;
	font-size: 1rem;
	font-weight: 500;
	font-family: "Ubuntu";
	letter-spacing: 0.5px;
}

@mixin hook-button-default() {
	border: 2px solid;
	color: $global-primary-background;
	font-weight: 500;
}

@mixin hook-inverse-button-secondary() {
	color: $global-primary-background;
}
