// 3. Your custom mixin overwrites.
@mixin hook-card() {
	color: #000;
}
@mixin hook-logo() {
	width: auto;
}
@mixin hook-button() {
	text-transform: none;
}

@mixin hook-button-default() {
	border: 2px solid;
	color: $global-primary-background;
	font-weight: 500;
}

@mixin hook-inverse-button-secondary() {
	color: $global-primary-background;
}
