$global-font-family: 'Inter', sans-serif;
$base-heading-font-family: 'Archivo', sans-serif;
$base-heading-font-weight: 700;
$inverse-navbar-item-color: #fff;
$global-link-color: #DA7D02;
$global-primary-background: #46277A;
$global-secondary-background: #7A4EC3;