$global-font-family: "Inter", sans-serif;
$base-heading-font-family: "Archivo", sans-serif;
$base-heading-font-weight: 700;
$inverse-navbar-item-color: #fff;
$global-link-color: #da7d02;
$global-muted-background: #f4f4f4;
$global-primary-background: #6eb52c;
$global-secondary-background: #1b8202;
$heading-small-font-size-m: 2.5rem;
$global-inverse-color: #fff;
